<ion-view view-title="Produtos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products"
        type="item-text-wrap" href="#/tab/products/{{product.code}}">
        <img ng-src="{{product.image_url}}" />
        <h2>{{product.name}}</h2>
        <p>{{product.amount}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <h4 class="text-center" ng-if="empty">{{ message }}</h4>
    </ion-list>
  </ion-content>
</ion-view>
