<ion-view view-title="Detalhes do produto">
  <ion-content class="padding">
    <div id="product-show" class="text-center">
      <h3>{{ product.name }}</h3>
      <img ng-src="{{ product.image_url }}" />
      <h4>{{ product.amount }}</h4>
    </div>
  </ion-content>
</ion-view>
