<ion-view view-title="Sobre a Pitia Store">
  <ion-content class="padding text-center">
    <h2>Pitia Store</h2>
    <p>
      Pitia store é apenas um test feito por
      <a href="http://wfsneto.com.br" target="blank">@wfsneto</a>
      para <a href="http://pitia.com.br" target="blank">Pitia</a>
    </p>
  </ion-content>
</ion-view>
